* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: .625rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 25rem;
    overflow: hidden;
}

ul {
    list-style: none;
    margin-top: 1rem;
}

li {
    margin-top: 0.5rem;
}

a {
    color: #5f9341;
}

input {
    width: 100%;
    border: 1px solid #5f9341;
    padding: .625rem;
    margin-bottom: .25rem;
}

button {
    padding: .625rem 1.25rem;
    color: white;
    font-weight: bold;
    background-color: #5f9341;
    border: none;
}